/* ------------------
Desktop Version +1040px
------------------*/



/* ----- FONTS ADDED -----  */

@font-face {font-family: 'raleway';src: url('Police/Raleway.ttf');
}

@font-face {font-family: 'ralewayBold';src: url('Police/Raleway-Bold.ttf');
}



/* ----- LAYOUT TEXT -----   */

body {  font-family: "raleway", "Arial Black", Arial, Verdana, sans-serif;
}

h1 {    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
        font-size: 1em;
}

h2 {    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
        font-size: 0.9em;
}

h3 {    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
}

p{

}

a { text-decoration: none;
    color: black;
}

em {font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
    font-style: normal; 
}

h1 + p{ font-size: 0.8em;
}






/* ----- LAYOUT IMAGE -----   */





/*   ----- LAYOUT BLOCKS -----   */

body {  margin-left: 3.47%;
        margin-right: 3.47%;
}


        /*  ----- HEADER -----   */
    header {    display: grid;
                grid-template-columns: 7% 1fr 27.1%;
                margin-top: -2.5em;
    }

        #logo { width: 100px;
                padding-top: 75px;
        }

        nav {   display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: flex-end;
        }

            #menuAccommodation {  margin: 2em;
                                border-top: 2px solid #0065FC;
                                padding-top: 50px;
            }

            #menuAccommodation a { color: #0065FC;
            }

            #menuActivities { margin: 2em;
                            padding-top: 52px;                
            }

            #menuSubscribe {    margin: 2em;
                                color: #0065FC;
                                font-family: "ralewayBold";
                                padding-top: 52px;               
            }

            #menuSubscribe a { color: #0065FC;
            }


        /*  ----- MAIN -----   */
    main {

    }

          /*   SEARCH AND FILTER   */
        #searchAndFilter {

        }

            #search {

            }

                #searchBar {

                }

            #filter {

            }

                .filterButton {

                }

            #info {

            }
    
          /*   SECTION - ACCOMODATION IN MARSEILLES   */
        #accommodationMarseilles {
            
        }

            #blocAccommodationMarseilles {

            }

                .accommodation {

                }

                    .fourStars, .threeStars, .fiveStars {

                    }




    
          /*   SECTION - MOST POPULAR   */
          #mostPopular {
            
        }

            #mostPopularTitle {

            }

            #blockAccomodationPopular {

            }

                .popular {

                }


    
          /*   SECTION - ACITIVITIES   */
          #menuActivities {
            
        }

            #blockActivities {

            }

                .activities {

                }


        /*  ----- FOOTER -----   */
        footer {

    }

        .menuFooter {

        }











