/* ------------------
Desktop Version +1040px
------------------*/



/* ----- FONTS ADDED -----  */

@font-face {font-family: 'raleway';src: url('Police/Raleway.ttf');
}

@font-face {font-family: 'ralewayBold';src: url('Police/Raleway-Bold.ttf');
}



/* ----- LAYOUT TEXT -----   */

body {  font-family: "raleway", "Arial Black", Arial, Verdana, sans-serif;
}

h1 {    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
        font-size: 1em;
}

h2 {    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
        font-size: 0.7em;
        padding-right: 2em;
}

h3 {    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
}

p{

}

a { text-decoration: none;
    color: black;
}

em {font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
    font-style: normal; 
}

h1 + p{ font-size: 0.8em;
}

#menuAccommodation a {  color: #0065FC;
                        font-size: 0.7em;
}

#menuActivities a {font-size: 0.7em;
}

#menuSubscribe a {  color: #0065FC;
    font-family: "ralewayBold";
    font-size: 0.7em;
}

.textFilter { font-size: 0.7em;
            font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
            padding-left: 3em;
            vertical-align: middle;
            text-align: left;
}

#info p {   font-size: 0.8em;
            padding-left: 1em;
}



/* ----- LAYOUT IMAGE -----   */





/*   ----- LAYOUT BLOCKS -----   */

body {  margin-left: 3.47%;
        margin-right: 3.47%;
}


        /*  ----- HEADER -----   */
    header {    display: grid;
                grid-template-columns: 7% 1fr 27.1%;
                margin-top: -2.5em;
    }

        #logo { width: 100px;
                padding-top: 75px;
        }

        nav {   display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
        }

            #menuAccommodation {  margin: 2em;
                                border-top: 2px solid #0065FC;
                                padding-top: 50px;
            }

            #menuActivities { margin: 2em;
                            padding-top: 52px;                
            }

            #menuSubscribe {    margin: 2em;
                                padding-top: 52px;               
            }



        /*  ----- MAIN -----   */
    main {

    }

          /*   SEARCH AND FILTER   */
        #searchAndFilter {

        }

            #search {   
            }

                #searchBar {display: flex;
                            flex-direction: row;
                            justify-content: left;
                            align-items: center;
                }

                #hereButton {   background-color: #F2F2F2;
                                padding: 0.6em 1em 0.6em 1em;
                                border-radius: 10px 0 0 10px;
                }
                #adressBar {    font-family: "ralewayBold";
                                border: none;
                }
                #searchButton { background-color: #0065FC;
                                color: white;
                                padding: 0.6em 1em 0.6em 1em;
                                border: none;
                                border-radius: 0 10px 10px 0;
                }

            #filter {   display: flex;
                        flex-direction: row;
                        justify-content: left;
                        align-items: center;
                        padding-top: 1em;

            }

                .filterButton { display: flex;
                                flex-direction: row-reverse;
                                justify-content: center;
                                align-items: center;
                                padding: 1em;
                }
                    .iconeFilter{   padding: 1em;
                                    background-color: #DEEBFF;
                                    border-radius: 50%;
                                    width: 15px;
                                    height: 15px;
                                    object-fit: cover;
                                    object-position: center;
                    }

                    .textFilter {   border-top: 1px solid #d9d9d9;
                                    border-right: 1px solid #d9d9d9;
                                    border-bottom: 1px solid #d9d9d9;
                                    border-radius: 0 25px 25px 0;
                                    width: 100px;
                                    margin-left: -2em;
                                    height: 37px;
                    }

            #info { display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;

            }
                #infoIcon { border: 1px  #d9d9d9 solid;
                            border-radius: 50%;
                            width: 20px;
                            height: 20px;
                            object-fit: cover;
                            object-position: center;
                }
    
          /*   SECTION - ACCOMODATION IN MARSEILLES   */
        #accommodationMarseilles {
            padding: 40px;
            background-color: #F2F2F2;
            border-radius: 25px;
            width: 880px;
            height: 630px;

        }

            #blockAccommodationMarseilles {
                height: 430px;
                display: flex;
                flex-flow: row wrap;
                justify-content: space-between;
                align-items: stretch;
            }

                .accommodation {
                    width: 28.1%;
                    height: 31.75%;
                    padding: 4px;
                    background-color: white;
                    border-radius: 25px;
                    box-shadow: 0px 0px 5px 0px #000000;;
                }

                    .fourStars, .threeStars, .fiveStars {

                    }

                    .accomodationImages {   
                        width: 100%;
                        height: 60.53%;
                        border-radius: 25px 25px 0 0;
                        object-fit: cover;
                        object-position: center;
                    }




    
          /*   SECTION - MOST POPULAR   */
          #mostPopular {
            
        }

            #mostPopularTitle {

            }

            #blockAccomodationPopular {

            }

                .popular {

                }


    
          /*   SECTION - ACITIVITIES   */
          #menuActivities {
            
        }

            #blockActivities {

            }

                .activities {

                }


        /*  ----- FOOTER -----   */
        footer {

    }

        .menuFooter {

        }











