/* ------------------
Version Desktop +1040px
------------------*/



/* ----- POLICES AJOUTEES -----  */

@font-face 
{
	font-family: 'raleway';
	src: url('Police/Raleway.ttf');
}

@font-face 
{
	font-family: 'ralewayBold';
	src: url('Police/Raleway-Bold.ttf');
}



/* ----- MISE EN PAGE TEXTE -----   */

body
{
    font-family: "raleway", "Arial Black", Arial, Verdana, sans-serif;
}

h1
{
    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
}

h2
{
    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
}

h3
{
    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
}

p
{

}

a
{
    text-decoration: none;
    color: black;
}

em
{
    font-family: "ralewayBold", "Arial Black", Arial, Verdana, sans-serif;
    font-style: normal;
    
}






/* ----- MISE EN PAGE IMAGE -----   */





/*   ----- MISE EN PAGE BLOCS -----   */

body
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

}
        /*  ----- HEADER -----   */
    header
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        margin-top: -2.5em;
    }

        #logo
        {
            width: 100px;
            padding-top: 50px;

        }

        nav
        {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: flex-end;
        }

            #menuHebergement
            {
                margin: 2em;
                color: #0065FC;
                border-top: 2px solid #0065FC;
                padding-top: 50px;
            }

            #menuActivite
            {
                margin: 2em;
                padding-top: 52px;                
            }

            #menuSinscrire
            {
                margin: 2em;
                color: #0065FC;
                font-family: "ralewayBold";
                padding-top: 52px;               
            }


        /*  ----- MAIN -----   */
    main
    {

    }

          /*   SECTION 1   */
        #section1
        {

        }

            #search
            {

            }

                #searchBar
                {

                }

            #filtre
            {

            }

                .filtreButton
                {

                }

            #info
            {

            }
    
          /*   SECTION 2   */
        #section2
        {
            
        }

            #blocImage2
            {

            }

                .hebergement
                {

                }

                    .stars
                    {

                    }




    
          /*   SECTION 3   */
          #section3
        {
            
        }

            #section3Title
            {

            }

            #blocImage3
            {

            }

                .populaire
                {

                }


    
          /*   SECTION 4   */
          #section4
        {
            
        }

            #blocImage4
            {

            }

                .activite
                {

                }


        /*  ----- FOOTER -----   */
        footer
    {

    }

        .menuFooter
        {

        }











